.search-page {
  border: 1px solid black;
  border-radius: 5px;
  height: 600px;
  width: 450px;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
}

.search-page > EBooks {
  margin-top: 20px;
}